.outerDiv {
  position: relative;
  top: 20vh;
  margin: 0;
  padding: 0 5%;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.3px solid rgb(119, 115, 115) ;
  border-bottom: 0.3px solid rgb(119, 115, 115) ;
  position: sticky;
  top: 0;
  z-index: 345;
  background-color: #fff;
  
}

.header-inner-div {
  display: flex;
}

.header-inner-div p {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}

.hide-filter-text {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  font-family: serif;
  width: 150px;
  cursor: pointer;
  text-align: right;
  color: #888792;
  text-decoration: underline;
}

.recomended_div {
  cursor: pointer;
  font-weight: bold;
}

.recommended {
  position: absolute;
  top: 2%;
  right: 5%;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
  padding: 20px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  font-family: "Simplon Norm";
 
}
.recommended ul {
  padding: 0px 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-items: center;
  list-style: none;
  text-align: end;
}
.recommended ul li{
  cursor: pointer;
  padding: 0.5rem;
  
}

.container {
  display: flex;
  margin-top: 30px;
  
}

.left-section {
  width: 19%;
  display: none;
  
}

.left-section.show {
  margin-top: -2.5%;
  display: block;
  border-radius: 5px;
  height: 60%;
}

.filter-section {
  width: 100%;
  padding: 2rem;
  padding-left: 0.3rem;
 
}

.right-section {
  padding: 10px;
  padding-left: 10px;
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  
 
}

.product-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 20px;
}
#minFilter{
  display: none;
}
#midLine{
  display: none;
}

@media screen and (max-width: 900px) {
  .product-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .product-section {
    display: grid;
    place-items: center;
    gap: 10px;
  }

  .header-section {
    display: flex;
    justify-content: space-evenly;
   
  }
  .left-section {
    display: flex;
    justify-content: center;
    width: 100%;
   
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .filter-section {
    width: 90%;
    padding: 5px;
  }
}

@media screen and (max-width: 650px) {
  .left-section {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .outerDiv {
    margin: 0;
    padding: 0;
  }

  .filter-section {
    width: 90%;
    padding: 5px;
   
  }
  .right-section {
    padding: 0%;
  }
}
@media screen and (max-width: 580px) {
  .product-section {
    grid-template-columns: repeat(2, 1fr);
  }
  .left-section {
    display: flex;
    justify-content: center;
    width: 100%;
    
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .outerDiv {
    margin: 0;
    padding: 0;
  }
  .filter-section {
    
    width: 90%;
    padding: 5px;
  }
  .right-section {
    padding: 0%;
  }
}

.left-section.show {
  display: flex;
  padding-right: 2.5rem;
  
}
@media screen and (min-width:769px) {
  .left-section.show {
    display: flex;
    padding-right: 0rem;
    
  }
}

@media (min-width: 320px) and (max-width: 426px) {
  .outerDiv {
    position: relative;
    top: 15vh;
    margin: 0;
    padding: 0 0;
  }
  .right-section {
    position: relative;
    top: 20px;
    padding: 0%;
    margin: 0;
  }
  #veeresh{
    margin:0 0.5rem;

  }
  .container {
    display: flex;
    margin-top: 10px;
    
  }
  .left-section.show {
    display: flex;
    padding-right: 0rem;
    
  }
  #maxFilter{
    display: none;
  }
  .hide-filter-text svg{
    display: none;
  }
  #minFilter{
    display: block;
    margin-left: 2.5rem;
    color: black;
    text-decoration: underline 2px solid #fff ;
  }
  #midLine{
    display: inline-block;
  }
  .recommended {
  
    position: absolute;
    
    right:-0%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
    padding: 10px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    font-family: "Simplon Norm";
    border-radius: 10%;
   
    background-color: transparent;
  }
  .recommended ul {
    position: relative;
    top: 0.1rem;
    left: 0px;
    padding: 0px 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-items: center;
    list-style: none;
    background-color:#ffffff ;
    color: #252020;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
    border-radius: 5px;
    
  
    text-align: end;
  }
  .recommended ul li{
    cursor: pointer;
    font-size: 12px;
    padding: 0 0.2rem;
    
  }
 

  
}

@media (min-width: 427px) and (max-width: 768px){
  .filter-section {
    width: 100%;
    padding: 2rem;
    
   
  }
  .recommended {
    position: absolute;
    top: 2%;
    right: 5%;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
    padding: 20px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    font-family: "Simplon Norm";
   
  }
  .recommended ul li{
    padding: 0.1rem;
  }

  .left-section {
    width: 19%;
    display: none;
    
  }
  
  .left-section.show {
    margin-top: -0%;
    display: block;
    border-radius: 5px;
    height: 60%;
  }
  
  .filter-section {
    width: 100%;
    padding: 1rem;
    padding-left: 0.3rem;
   
  }
}


