.filter {
  cursor: pointer;
  margin-top: 10px;
  border-bottom: 1px solid #888792;
}

.filter p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #888792;
  text-decoration: underline;
}

h4 {
  margin: 0;
  color: #565555;
  font-size: 18px;
}

.productCard.skeleton {
  background-color: #f0f0f0;
}

.productImage.skeleton {
  width: 100%;
  height: 200px;
}

.productTitle.skeleton,
.productDescription.skeleton {
  background-color: #e0e0e0;
  height: 20px;
  margin-bottom: 10px;
}

.productDescription.skeleton {
  display: flex;
  flex-direction: column;
}

.skeleton-line {
  background-color: #d0d0d0;
  height: 10px;
  margin-bottom: 5px;
  width: 80%;
}

.filter label {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.accordionHeaderSection {
  display: flex;
  row-gap: 10px;
  justify-content: space-between;
}

.productCard {
  width: 260px;
  overflow: hidden;
  box-shadow: 1px 1px 5px #e5e5e5, -1px -1px 5px #e5e5e5;
  border-radius: 5px;
  background-color: white;
  
}

.productImage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productImage img {
  margin-top: 1rem;
  width: 190px;
  height: 220px;
  object-fit: contain;
}

#like {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#productTitle {
  display: inline-block;
  width: 150px;
  overflow: auto;
  margin-top: 0.5rem;
  font-size: 18px;
  font-weight: 700;
  font-family: "Simplon Norm";
  line-height: 21.6px;
  margin-left: 5px;
  text-decoration: none;
  color:  #252020;

}
#productTitle::-webkit-scrollbar {
  display: none;
}
#sign {
  display: block;
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: 400;
  font-family: "Simplon Norm";
  line-height: 16.8px;
  margin-left: 5px;
  margin-bottom: 1rem;
  text-decoration: none;
  color:  #252020;
  opacity: 0.8;
}
.heart-icon {
  position: relative;
  top: 0.2rem;
  right: 0.5rem;
}

.productDetails {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.heart-icon {
  width: 19px;
  height: 19px;
  background-image: url("../../../public/images/heart.png");
  background-size: cover;
  cursor: pointer;
  transition: background-image 0.3s ease-in-out;
}

.heart-icon:hover {
  background-image: url("../../../public/images/Redheart.png");
}

.productDescription {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 426px) {
 
  .productCard {
    width: 150px;
    overflow: none;
    margin: 0rem;
  }

  .productImage {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .productImage img {
    width: 120px;
    height: 150px;
    object-fit: contain;
  }
  #like {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #productTitle {
    display: inline-block;
    width: 110px;
    overflow: auto;
    margin-top: 0.5rem;
    font-size: 14px;
    font-weight: 700;
    font-family: "Simplon Norm";
    line-height: 16.8px;
    margin-left: 5px;
  }
  #productTitle::-webkit-scrollbar {
    display: none;
  }
  #sign {
    display: block;
    margin-top: 0.5rem;
    font-size: 10px;
    font-weight: 400;
    font-family: "Simplon Norm";
    line-height: 12px;
    margin-left: 5px;
  }
  .heart-icon {
    position: relative;
    top: 0.2rem;
  }
}

@media (min-width: 427px) and (max-width: 768px) {
  .productCard {
    width: 200px;
    overflow: none;
    margin: 10px;
  }

  .productImage {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .productImage img {
    width: 160px;
    height: 180px;
    object-fit: contain;
  }
  #like {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #productTitle {
    display: inline-block;
    width: 150px;
    overflow: auto;
    margin-top: 0.5rem;
    font-size: 18px;
    font-weight: 700;
    font-family: "Simplon Norm";
    line-height: 21.6px;
    margin-left: 5px;
  }
  #productTitle::-webkit-scrollbar {
    display: none;
  }
  #sign {
    display: block;
    margin-top: 0.5rem;
    font-size: 14px;
    font-weight: 400;
    font-family: "Simplon Norm";
    line-height: 16.8px;
    margin-left: 5px;
    margin-bottom: 1rem;
  }
  .heart-icon {
    position: relative;
    top: 0.2rem;
    right: 0.5rem;
  }
}


@media (min-width: 769px) and (max-width: 1024px){
  .productCard {
    width: 200px;
    overflow: none;
    margin: 10px;
  }

  .productImage {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .productImage img {
    width: 160px;
    height: 180px;
    object-fit: contain;
  }
  #like {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #productTitle {
    display: inline-block;
    width: 150px;
    overflow: auto;
    margin-top: 0.5rem;
    font-size: 18px;
    font-weight: 700;
    font-family: "Simplon Norm";
    line-height: 21.6px;
    margin-left: 5px;
  }
  #productTitle::-webkit-scrollbar {
    display: none;
  }
  #sign {
    display: block;
    margin-top: 0.5rem;
    font-size: 14px;
    font-weight: 400;
    font-family: "Simplon Norm";
    line-height: 16.8px;
    margin-left: 5px;
    margin-bottom: 1rem;
  }
  .heart-icon {
    position: relative;
    top: 0.2rem;
    right: 0.5rem;
  }
}
