@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Inter:wght@100..900&family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;500&display=swap');

body {
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-style: normal;
  font-family: "Poppins", sans-serif;
}

