header {
  width: 100%;
  padding-bottom: 1%;
  position: absolute;
  z-index: 2;
  box-shadow: 0px 0.5px 0.5px rgb(47, 41, 41);
}
#outer {
  background-color: black;
  display: flex;

  justify-content: space-around;
  padding: 0.5rem;
}
#outer p {
  color: #eb4c6b;
}
#outer p svg {
  margin-right: 0.5rem;
}
#top {
  width: 100%;
  display: flex;
  padding: 8px 0px;
  justify-content: space-around;
  
}

#icons {
  display: flex;
  align-items: center;
  
}


header h1 {
  margin-left: 5%;
  
}

.menu {
  display: none;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
nav ul li {
  margin-right: 3%;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
}
nav ul li:hover{
  text-decoration: underline 1px solid;
  transition: 0.2s ease;
}

#check {
  display: none;
}
#logo{
  font-family: "Inter","sans-serif";
}

@media (min-width: 320px) and (max-width: 426px) {
  #outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  #outer p:first-child {
    display: none;
  }
  #outer p:last-child {
    display: none;
  }
  #top {
    padding: 5px 0px;
  }
  #user {
    display: none;
  }
  .icon {
    margin: 0;
    padding: 0;
    padding-right: 0.25rem;
  }
  .menu {
    display: block;
    margin-right: 0.2rem;
    position: absolute;
    bottom: 15px;
    left: 8px;
  }
  .menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
  }
  ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: black;
    justify-content: none;
    align-items: none;
    top: 21vh;
    left: -100%;
    color: whitesmoke;
    transition: 0.5s ease;
    z-index: 34;
  }
  nav ul li {
    font-size: 14px;
    display: block;
    padding: 0.6rem 0rem;
    text-align: center;
    
    
  }

  #check:checked ~ ul {
    left: 0%;
  }
}