.footerMain {
  color: #fff;
  background: #000;
}
.footer {
  padding: 27px 90px;
}

.topFooter,
.bottomFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.topFooter {
  border-bottom: #fff 1px solid;
}
.topFooter h1,
.bottomFooter h1 {
  cursor: default;
  margin: 0%;
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.usa {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.topFooter p,
.bottomFooter p {
  cursor: default;
  margin: 0%;
  font-size: 14px;
  font-weight: 300;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.socialMedia {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.bottomFooter {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding-top: 40px;
}
.bottomFooter ul {
  cursor: pointer;
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style: none;
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.topFooter-left input {
  height: 34px;
  width: 50%;
  border: none;
  offset: none;
  border-radius: 3px;
  padding: 0px 15px;
}
.topFooter-left button {
  cursor: pointer;
  height: 36px;
  margin-left: 2px;
  background: transparent;
  border: gray 1px solid;
  padding: 0px 24px;
  border-radius: 3px;
  color: gray;
}
.topFooter-left,
.topFooter-right {
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 200px;
  padding: 25px 0;
  width: 50%;
}
.contactData {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.topFooter-right .details {
  background: #000;
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 16px;
}
.bottomFooter-firstOne,
.bottomFooter-secondOne {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.bottomFooter-thirdOne {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.bottomFooter-thirdOne .subDiv {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.copyright {
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 10px;
}

.downArrow {
  display: none;
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 750px) {
  .footer {
    padding: 0%;
    padding-top: 10px;
  }
  .topFooter-left {
    width: 80%;
    height: 120px;
  }

  .topFooter-right {
    width: 100%;
    padding-bottom: 0%;
  }
  .topFooter-right .details {
    width: 100%;
    padding-top: 0%;
    border-bottom: #fff 1px solid;
  }

  .topFooter,
  .bottomFooter {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;

    align-items: start;
    border-bottom: none;
  }

  .topFooter-left input {
    height: 34px;
    width: 50%;
    border: none;
    offset: none;
    border-radius: 3px;
    padding: 0px 11px;
  }
  .topFooter-left button {
    cursor: pointer;
    height: 36px;
    margin-left: 2px;
    background: transparent;
    border: gray 1px solid;
    padding: 0px 5px;
    border-radius: 3px;
    color: gray;
  }
  .contactData {
    display: flex;
    column-gap: 18px;
  }
  .currencyNotes {
    display: none;
  }
  .bottomFooter-firstOne,
  .bottomFooter-secondOne {
    border-bottom: 1px white solid;
    width: 100%;
    padding: 19px 0px;
  }
  .headingText {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .downArrow {
    display: block;
  }
  .bottomFooter-thirdOne {
    width: 100%;
  }
  .bottomFooter-thirdOne > .subDiv:first-child {
    border-bottom: 1px white solid;
    width: 100%;
    padding: 19px 0px;
  }
  .bottomFooter-firstOne ul,
  .bottomFooter-secondOne ul {
    display: none;
  }
  .bottomFooter-thirdOne .socialMedia {
    display: none;
  }
}

@media screen and (max-width: 650px) {
}
@media screen and (max-width: 580px) {
  .footer {
    padding: 0%;
    padding-top: 10px;
  }
  .topFooter-left {
    width: 100%;
    padding-top: 0px;
    border-bottom: #fff 1px solid;
  }
  .topFooter-right {
    width: 100%;
    padding-bottom: 0%;
  }
  .topFooter-right .details {
    width: 100%;
    padding-top: 0%;
    border-bottom: #fff 1px solid;
  }

  .topFooter,
  .bottomFooter {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;

    align-items: start;
    border-bottom: none;
  }
  .topFooter-left input {
    height: 34px;
    width: 50%;
    border: none;
    offset: none;
    border-radius: 3px;
    padding: 0px 11px;
  }
  .topFooter-left button {
    cursor: pointer;
    height: 36px;
    margin-left: 2px;
    background: transparent;
    border: gray 1px solid;
    padding: 0px 5px;
    border-radius: 3px;
    color: gray;
  }
  .contactData {
    display: flex;
    column-gap: 18px;
  }
  .currencyNotes {
    display: none;
  }
  .bottomFooter-firstOne,
  .bottomFooter-secondOne {
    border-bottom: 1px white solid;
    width: 100%;
    padding: 19px 0px;
  }
  .bottomFooter-thirdOne {
    width: 100%;
  }
  .bottomFooter-thirdOne > .subDiv:first-child {
    border-bottom: 1px white solid;
    width: 100%;
    padding: 19px 0px;
  }
  .bottomFooter-firstOne ul,
  .bottomFooter-secondOne ul {
    display: none;
  }
  .bottomFooter-thirdOne .socialMedia {
    display: none;
  }
}
