.headSection-outer {
  padding: 20px;
  text-align: center;
  position: relative;
  top: 25vh;
  z-index: -1;
  
}
#homeShop {
  display: none;
}
.headSection-outer h1 {
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Simplon Norm";
  font-weight: 400;
}

.headSection-outer p {
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 426px) {
  .headSection-outer{
    top: 12vh;
  }
  #homeShop {
    display: block;
    font-size: 14px;
  }

  .headSection-outer h1 {
    margin-top: 0.5rem;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    font-family: "Simplon Norm";
  }
  .headSection-outer p {
    margin-top: 0.5rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }
}

@media (min-width: 427px) and (max-width: 768px){
  
}